useDynLib(rmgarch)
importFrom(graphics, plot, lines)
importFrom(stats, coef, residuals, fitted)
importFrom(Matrix, Matrix, crossprod, t, as.matrix, as.vector)
importFrom(MASS, cov.rob, cov.trob)
importFrom(xts, xts, as.xts, axTicksByTime)
importFrom(zoo, coredata, index)
importFrom(parallel, clusterEvalQ, clusterExport, parLapply, clusterMap, parSapply, makePSOCKcluster, makeForkCluster, stopCluster)
importFrom(Bessel, BesselK)
importFrom(spd, spdfit, qspd, pspd, rspd)
importFrom(ff, ff)
importFrom(Rsolnp, solnp, gosolnp, startpars)
importFrom(pcaPP, cor.fk)
import(rugarch)
import(methods)
importFrom(Rcpp, evalCpp)
exportClasses("mGARCHspec", "mGARCHfit", "mGARCHfilter", "mGARCHforecast", "mGARCHsim", "mGARCHroll")
exportClasses("goGARCHspec", "goGARCHfit", "goGARCHfilter", "goGARCHforecast", "goGARCHsim", "goGARCHroll")
exportClasses("goGARCHfft")
exportClasses("DCCspec", "DCCfit", "DCCfilter", "DCCforecast", "DCCsim", "DCCroll")
exportClasses("cGARCHspec", "cGARCHfit", "cGARCHfilter", "cGARCHsim")
exportClasses("fMoments", "fScenario")
exportMethods("rcov", "rcor", "rcoskew", "rcokurt","convolution","as.matrix")
exportMethods("gportmoments", "nportmoments", "nisurface")
exportMethods("dfft", "pfft", "qfft")
exportMethods("fmoments", "fscenario","goload","goget")
exportMethods("betacovar", "betacokurt","betacoskew")
export("gogarchspec", "gogarchfit", "gogarchfilter", "gogarchforecast", "gogarchsim", "gogarchroll")
export("dccspec", "dccfit", "dccfilter", "dccforecast", "dccsim", "dccroll", "rshape", "rskew")
export("cgarchspec", "cgarchfit", "cgarchfilter", "cgarchsim")
export("first", "last", "cordist")
export("fastica", "radical")
export("varxfit", "varxfilter", "varxforecast", "varxsim", "wmargin", "DCCtest")
